.headerMenuItem {
  font-family: "Rubik";
  line-height: 26px;
  letter-spacing: -0.02em;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: none;
}

.headerMenuItem:not(:first-child) {
  margin-left: 78px;
}
