.headerMenuItem {
  font-family: "Rubik";
  line-height: 26px;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.headerMenuItemVertical {
  font-family: "Rubik";
  line-height: 40px;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-size: 2.5em;
  text-decoration: none;
  margin-bottom: 25px;

  display: flex;
  flex-direction: row;
}

.headerMenuItem:not(:first-child) {
  margin-left: 55px;
}

.hr {
  display: block;
  height: 3px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
}
