.headerMenuItem {
  font-family: "Rubik";
  line-height: 26px;
  letter-spacing: -0.02em;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: none;
}

.headerMenuItem:not(:first-child) {
  margin-left: 78px;
}

.hr {
  display: block;
  height: 3px;
  width: 100%;
  margin: auto;
  border-radius: 20px;
}
