.title {
    width: 100%;
    margin: 0;
    text-align: center;
    background: white;
    margin-bottom: 80px;
  }

.section{
    margin: 0 10% 15% 10%;
}

.photo{
    float: left;
    margin-right: 5%;
}
