.title {
  width: 100%;
  margin: 0;
  text-align: center;
  background: white;
  margin-bottom: 80px;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 80px;
}

.aboutLeftColumn {
  display: flex;
  max-height: 400px;
  justify-content: right;
}

.aboutRightColumn {
  padding: 8%;
  padding-right: 15%;
}

.image {
  flex: 0.85;
  box-shadow: 1px -1px 55px 23px rgba(129, 129, 129, 0.27);
  -webkit-box-shadow: 1px -1px 55px 23px rgba(129, 129, 129, 0.27);
  -moz-box-shadow: 1px -1px 55px 23px rgba(129, 129, 129, 0.27);
}
