html,
body,
#___gatsby {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0px;
}

body {
  margin: 0px;
}

footer div {
  font-family: "Arbutus Slab";
}

h1,
h2,
h3,
h4 {
  font-family: "Arbutus Slab";
}

div,
input,
button {
  font-family: "Rubik";
}

p {
  font-family: "Rubik";
  font-weight: 500;
  line-height: 19px;
}
