.backgroundBanner {
  height: 100vh;
}

.title {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title h1 {
  margin: 0;
  font-size: clamp(6rem, -0.875rem + 8.333333vw, 7.8rem);
  line-height: 120px;
  text-align: center;
  letter-spacing: -0.04em;
  text-shadow: 4px 4px 15px #7d6039;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.title h2 {
  margin: 0;
  font-family: "BioRhyme";
  font-weight: 800;
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 2rem);
  line-height: 53px;
  text-align: center;
  padding: 0px 18vw;
}

@media only screen and (max-height: 400px) {
  .backgroundBanner {
    min-height: 150vh;
  }
}

@media only screen and (max-height: 900px) {
  .title {
    top: 55%;
  }

  .title h1 {
    font-size: clamp(4.5rem, -0.875rem + 8.333333vw, 7.8rem);
    line-height: 80px;
  }

  .title h2 {
    padding: 0px;
    font-size: clamp(1.5rem, -0.875rem + 8.333333vw, 2.5rem);
  }
}

.ourServices {
  padding: 125px 100px 125px 100px;
}

.ourServicesTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: clamp(4rem, -0.875rem + 8.333333vw, 4.5rem);
  letter-spacing: -0.04em;
  text-shadow: 4px 4px 15px rgba(125, 96, 57, 0.75);
}

@media only screen and (max-width: 1000px) {
  .ourServices {
    padding: 90px 10px 100px 10px;
  }

  .ourServicesTitle {
    font-size: clamp(2.5rem, -0.875rem + 8.333333vw, 3.5rem);
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 90px;
}

.aboutUsImageContainer {
  flex: 3;
  padding: 70px 0px 70px 70px;
}

.aboutUsImage {
  display: block;
  margin: auto;
  width: 80%;
  box-shadow: 4px 4px 70px 4px rgba(0, 0, 0, 0.25);
}

.aboutUsTextContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 70px 3rem 1rem;
}

.aboutUsLearnMore {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
