/* ---------Page Subtitle--------- */
h2,
h3 {
  margin: 0;
  padding: 0;
  border: none;
}

body,
html {
  height: 100vh;
}

.subTitle {
  font-family: "BioRhyme", serif;
  font-size: 60px;
}

@media only screen and (max-width: 999px) {
  .subTitle {
    line-height: 40px;
    margin-bottom: 25px;
  }

  .quoteContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "introduction"
      "form"
      "contact";
    margin: 8% 0 3% 8%;
  }

  .introductionContainer {
    width: 80vw;
    grid-area: introduction;
    padding-right: 30px;
    margin-bottom: 40px;
  }

  .formContainer {
    grid-area: form;
    display: grid;
    grid-template-rows: auto;

    background: white;
    width: 70vw;
    border-radius: 15px;

    padding: 7%;

    box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
  }

  .ContactInfoContainer {
    width: 90vw;
    grid-area: contact;
  }

  .getInTouchTitle {
    font-family: "BioRhyme", serif;
    margin-bottom: 24px;
    font-size: 40px;
  }

  .formContainer input,
  .formContainer textarea {
    width: calc(100% - 22px);
    padding: 4px 11px;
  }
}

@media screen and (min-width: 1000px) {
  .quoteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "introduction form"
      "contact form";
    margin: 4% 8% 3% 8%;
  }

  .introductionContainer {
    grid-area: introduction;
    padding-right: 60px;
  }

  .formContainer {
    grid-area: form;
    display: grid;
    grid-template-rows: auto;

    background: white;
    width: 35vw;
    border-radius: 15px;

    padding: 7%;

    box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
  }

  .ContactInfoContainer {
    grid-area: contact;
  }
  .getInTouchTitle {
    display: none;
  }

  .formContainer input,
  .formContainer textarea {
    width: calc(100% - 22px);
    padding: 4px 11px;
  }
}

/* ---------Left Column--------- */
.ContactInfoContainer > div {
  margin-bottom: 40px;
}

/* ---------Right Column--------- */

.formContainer label {
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* ---------Required Element Style--------- */

.required {
  color: red;
}

/* ---------Adress inputs--------- */

.formAdressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formAdressContainer > input {
  width: 45%;
}

/* ---------Submit Button--------- */

.submitButton {
  border: 0;
  padding: 0.2em;
  width: 180px;
  float: right;
  background-color: #3494c9;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.submitButton:hover,
.submitButton:focus,
.submitButton:active {
  background-color: #3e9fd3;
  color: #fff;
}
