/* ---------Page Subtitle--------- */
h2,
h3 {
  margin: 0;
  padding: 0;
  border: none;
}

body,
html {
  height: 100vh;
}

.subTitle {
  font-family: "BioRhyme", serif;
  font-size: 60px;
}

@media only screen and (max-width: 999px) {
  .quoteContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "introduction"
      "form"
      "contact";
    margin: 8% 0 3% 8%;
  }

  .introductionContainer {
    grid-area: introduction;
    padding-right: 100px;
    margin-bottom: 40px;
  }

  .formContainer {
    grid-area: form;
    display: grid;
    grid-template-rows: auto;

    background: white;
    width: 60vw;
    border-radius: 15px;

    padding: 7%;

    box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
  }

  .ContactInfoContainer {
    grid-area: contact;
  }
  .getInTouchTitle {
    font-family: "BioRhyme", serif;
    margin-bottom: 24px;
    font-size: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .quoteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "introduction form"
      "contact form";
    margin: 4% 8% 3% 8%;
  }

  .introductionContainer {
    grid-area: introduction;
    padding-right: 100px;
  }

  .formContainer {
    grid-area: form;
    display: grid;
    grid-template-rows: auto;

    background: white;
    width: 35vw;
    border-radius: 15px;

    padding: 7%;

    box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0px 33px 15px rgba(0, 0, 0, 0.08);
  }

  .ContactInfoContainer {
    grid-area: contact;
  }
  .getInTouchTitle {
    display: none;
  }
}

/* ---------Left Column--------- */
.ContactInfoContainer > div {
  margin-bottom: 40px;
}

/* ---------Right Column--------- */

.formContainer input,
.formElements label {
  display: block;
}

.formElements label {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.formElements input,
.formElements textarea {
  padding: 0.5em;
  margin-bottom: 2em;
  width: 100%;
  box-sizing: border-box;
}

/* ---------Required Element Style--------- */

.required {
  color: red;
}

/* ---------Adress inputs--------- */

.formAdressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formAdressContainer > input {
  width: 45%;
}

/* ---------Submit Button--------- */

.submitButton {
  border: 0;
  padding: 0.4em;
  width: 180px;
  float: right;
  cursor: pointer;
  background: #30647c;
  color: #fff;
  font-size: 20px;
}

.responseMessageError {
  margin-top: 20px;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid red;
  background-color: rgb(240, 166, 142);
}

.responseMessageSuccess {
  margin-top: 20px;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid green;
  background-color: darkseagreen;
}
