.imageList {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  gap: 40px;
  padding: 0px 80px;
  -moz-box-pack: center;
  justify-content: center;
}

.imageListColumn {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imageListColumn div {
  width: 100%;
  margin-bottom: 40px;
}
