.header {
  height: 35vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.85) 18.75%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
}

.headerContainer {
  height: 45%;
  padding: 2vh 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  min-width: 118px;
  min-height: 90px;
}

@media only screen and (max-height: 400px) {
  .logo {
    min-width: 70px;
    min-height: 55px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  color: white;
}
