.container {
  display: flex;
  flex-direction: row;
  max-height: 700px;
}

.leftPane {
  flex: 0.35;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem;
}

.rightPane {
  flex: 0.65;
}
