.footer {
  clear: both;
  position: relative;
  width: 100%;
  height: 4rem;
}

.footerImage {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footerContainer {
  height: 100%;
  padding: 0px 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Arbutus Slab";
  font-weight: normal;
  line-height: 22px;
}
