.footer {
  clear: both;
  position: relative;
  width: 100%;
  min-height: 4rem;
}

.footerImage {
  min-height: 4rem;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footerContainer {
  min-height: 4rem;
  height: 100%;
  padding: 0px 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Arbutus Slab";
  font-size: 1.2em;
  font-weight: 700;
  line-height: 22px;
}

@media only screen and (max-width: 1000px) {
  .footerContainer {
    padding: 10px 20px;
    gap: 20px;
  }

  .snContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
